{% extends "layout.twig" %}

{% block body %}
	<div class="container mt-5">
		<form
			action="" method="post">


			<!-- Email input -->
			<div class="form-outline mb-4">
				<input type="email" id="form5Example2" class="form-control" name="email"/>
				<label class="form-label" for="form5Example2">Email address</label>
			</div>

			<!-- Submit button -->
			<button type="submit" class="btn btn-primary btn-block mb-4">Subscribe</button>
		</form>
	</div>


{% endblock %}
